body {
    background:url('covermm.png') no-repeat;
    width:800px;
    height:600px:
}

.button_link, .button {
	font-weight:bold;
	background-color:blue;
	padding: 18px;
	color:#efefef;
	border-radius: 10px; 

}

.choose_set .button_link, .action .button_link {
    display:inline-block;
    margin:4px;
    width: 40px;
    text-align:center;
    padding: 10px 0;
}

h1 {
    font-size:500%;
    text-align:center;
}

#linklist span {
    font-size: 300%;
}

#start_button {
    text-decoration: none;
    font-size:400%;
    display:table;
    margin : 10px auto;
}

#make_guess {
   margin:20px;
   clear:both;
}

#linkList {
    margin:40px;
    text-align:center;
}

#multiplication, #addition {
    font-size:350%          ;
    width:400px;
}

#first_number {
    font-size:400%;
    font-weight:bold;
}

#oporater{
    font-size:400%;
      font-weight:bold;
}

#second_number{
    font-size:400%;
     font-weight:bold; 
}

#eqauls {
    font-size:400%;
     font-weight:bold;
}

#guess {
font-size:400%;
font-weight:bold;
    
}    
   
#equation {
    text-align:center;
} 