body {
    margin:0;
    padding:0;
    background:url('covermm.png') no-repeat;
    background-size: cover;
}



.button_link, .button {
	font-weight:bold;
	background-color:blue;
	padding: 18px;
	color:#efefef;
	border-radius: 10px; 
    cursor : pointer;
}

.choose_set .button_link, .action .button_link {
    display:inline-block;
    margin:4px;
    width: 46px;
    text-align:center;
    padding: 14px 0;
}

h1 {
    font-size:500%;
    text-align:center;
    margin-top:100px;
}

#linklist span {
    font-size: 300%;
}

#start_button {
    text-decoration: none;
    font-size:400%;
    display:table;
    margin : 10px auto;
}

#make_guess {
    float:left;
   margin:20px;
}

#linkList {
    margin:40px;
    text-align:center;
}

#multiplication, #addition {
    font-size:350%          ;
    width:400px;
}

#first_number {
    font-size:400%;
    font-weight:bold;
}

#oporater{
    font-size:400%;
      font-weight:bold;
}

#second_number{
    font-size:400%;
     font-weight:bold; 
}

#eqauls {
    font-size:400%;
     font-weight:bold;
}

#guess {
font-size:400%;
font-weight:bold;
    
}    
   
#equation {
    
    margin-top:100px;
    text-align:center;
} 

/*Clint aded this */
#final {
   position: absolute;
   top:60px;
   left: 400px;	
   margin-left: -50px;	
   font-weight:bold;
 
}

#results {
    clear:both;
    font-size:240%;
    text-align:center;
    font-weight:bold;
    text-transform: uppercase;
    position:relative;
    top:-40px;
}

#erase {
    margin:20px;
    float:right; 
}